#main{

background-color:white;

border-width:10px;
float:left;
background-color:#ededed;
margin:10px 10px 10px 10px;
padding:15px 15px 12px 15px;
}
#facebook{
width:200px;
height:150px;
border-radius:500px;
background-color:grey;
}