#white{

background-color:white;
width:100%;
}
#green
{

background-color:green;
height:50px;

}
#blue
{

background-color:blue;
float:left;
width:150px;
height:200px;
margin:8px 8px 8px 8px;
}
#orange
{

background-color:orange;
height:200px;

margin:8px 8px 8px 180px;
}
#red
{

background-color:red;
height:50px;
margin:10px 10px 10px 10px;

}
